@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hidden-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

.background-map {
  background: url('../../public/icons/map/map.svg') no-repeat scroll center, url('../../public/icons/map/ellipses.svg') center no-repeat;
}

.background-wave {
  background: url('../../public/icons/grow/wave-1.svg') bottom center no-repeat, url('../../public/icons/grow/wave-2.svg') bottom center no-repeat, url('../../public/icons/grow/wave-3.svg') bottom center no-repeat;
}

.background-hero {
  background: url('../../public/icons/hero/background.svg') bottom right no-repeat;
}

.background-backlights {
  background: url('../../public/icons/card/backlights.svg') center no-repeat
}

.background-backlights-vertical {
  background: url('../../public/icons/card/backlights-vertical.svg') center no-repeat
}